[tool.poetry]

name = "datafiles"
version = "0.13.1"
description = "File-based ORM for dataclasses."

license = "MIT"

authors = ["Jace Browning <jacebrowning@gmail.com>"]

readme = "README.md"

homepage = "https://pypi.org/project/datafiles"
documentation = "https://datafiles.readthedocs.io"
repository = "https://github.com/jacebrowning/datafiles"

keywords = [
    "dataclasses",
    "serialization",
    "type-annotations",
    "object-relational mapping",
    "YAML",
    "JSON",
    "TOML",
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python",
    "Topic :: Software Development",
    "Topic :: Utilities",
]

[tool.poetry.dependencies]

python = "^3.7"

# Formats
PyYAML = "^5.4.1"
"ruamel.yaml" = "^0.17.4"
tomlkit = "^0.7"

# ORM
parse = "^1.12"

# Utilities
cached_property = "^1.5"
classproperties = "^0.2"
minilog = "^2.0"

# Typing
typing-extensions = "^3.7"

[tool.poetry.dev-dependencies]

# Formatters
black = "=20.8b1"
isort = "=5.5.1"

# Linters
mypy = "~0.790"
pylint = "~2.6.0"
astroid = "*" # missing pylint dependency
pydocstyle = "*"

# Testing
pytest = "^6.2.3"
pytest-describe = "^1.0"
pytest-expecter = "^2.1"
pytest-mock = "*"
pytest-random = "*"
pytest-repeat = "*"
pytest-watch = "*"
pytest-cov = "^2.8.1"
pytest-profiling = "*"

# Coverage
coverage = "<5"
coveragespace = "^4.0"

# Documentation
mkdocs = "~1.0"
pygments = "^2.7.4"

# Notebooks
ipython = "^7.4"
jupyter = "^1.0"
nbstripout ="~0.3.9"
papermill = "^2.2"

[tool.black]

target-version = ["py37"]
skip-string-normalization = true

[build-system]

requires = ["poetry-core>=1.0"]
build-backend = "poetry.core.masonry.api"
