[tool.poetry]

name = "datafiles"
version = "0.1a4"
description = "File-based ORM for dataclasses."
authors = ["Jace Browning <jacebrowning@gmail.com>"]
license = "MIT"

homepage = "https://pypi.org/project/datafiles"
documentation = "https://datafiles.readthedocs.io"
repository = "https://github.com/jacebrowning/datafiles"

readme = "README.md"
keywords = ["YAML", "JSON", "ORM", "serialization"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python",
    "Topic :: Software Development",
    "Topic :: Utilities",
]

[tool.poetry.dependencies]

python = "^3.7"

# Formats
"ruamel.yaml" = "~0.15.46"

# Utilities
minilog = "^1.2.1"
classproperties = "~0.1.3"
cached_property = "^1.5"

[tool.poetry.dev-dependencies]

# Formatters
black = "=18.9b0"
isort = "=4.3.4"

# Linters
pylint = "^2.1"
mypy = "*"

# Testing
pytest = "^3.8.0"
pytest-describe = "*"
pytest-expecter = "*"
pytest-mock = "*"
pytest-random = "*"
pytest-repeat = "*"
pytest-watch = "*"
pytest-cov = "*"

# Coverage
coveragespace = "^2.1"

# Notebooks
jupyter = "^1.0"

[tool.black]

line-length = 79
py36 = true
skip-string-normalization = true


[build-system]

requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
