[tool.poetry]

name = "datafiles"
version = "0.0.0"
description = "File-based ORM for dataclasses."
authors = ["Jace Browning <jacebrowning@gmail.com>"]

[tool.poetry.dependencies]

python = "^3.7"

minilog = "^1.1"
classproperties = "~0.1.3"
cached_property = "^1.5"
"ruamel.yaml" = "~0.15.46"

[tool.poetry.dev-dependencies]

black = "=18.9b0"
isort = "=4.3.4"
pylint = "^2.1"
mypy = "*"

pytest = "^3.8.0"
pytest-describe = "*"
pytest-expecter = "*"
pytest-mock = "*"
pytest-random = "*"
pytest-watch = "*"
pytest-cov = "*"

coveragespace = "^2.1"

jupyter = "^1.0"
