mkdocs==1.0.4; (python_full_version >= "2.7.9" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
jupyterlab-pygments==0.1.2; python_version >= "3.6"
pygments==2.9.0; python_version >= "3.5"
