jinja2==3.1.4 ; python_version >= "3.8" and python_version < "4.0"
markdown==3.3.4 ; python_version >= "3.8" and python_version < "4.0"
mkdocs==1.4.2 ; python_version >= "3.8" and python_version < "4.0"
jupyterlab-pygments==0.2.2 ; python_version >= "3.8" and python_version < "4.0" and os_name != "nt"
pygments==2.15.0 ; python_version >= "3.8" and python_version < "4.0"
importlib-metadata==4.12.0 ; python_version >= "3.8" and python_version < "3.10"
